name: pulumi-up

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pulumi-up:
    name: pulumi-up
    runs-on: ubuntu-latest

    permissions:
      id-token: write        # 必须：启用 OIDC token
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        working-directory: ./ppinfra
        run: npm install


      - name: Configure AWS credentials from GitHub OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::434749277268:role/GitHubActions-1209-lab8-OIDC
          aws-region: ca-central-1

      - name: Pulumi Up
        uses: pulumi/actions@v5
        with:
          command: up
          stack-name: JialeDu-org/lab8-static-website-aws-yaml/dev
          work-dir: ./ppinfra



