name: pulumi-up

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  pulumi-up:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        working-directory: ./ppinfra
        run: npm install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::434749277268:role/GitHubActions-1209-lab8-OIDC
          aws-region: ca-central-1

      - uses: pulumi/actions@v5
        with:
          command: up
          stack-name: JialeDu-org/lab8-static-website-aws-yaml/dev
          work-dir: ./ppinfra
